<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="OpenWeatherMapApiUrl" value="https://samples.openweathermap.org/data/2.5/weather"/>
		<add key="OpenWeatherMapApiId" value="b6907d289e10d714a6e88b30761fae22"/>
	</appSettings>
</configuration>